name: Run Tests in Docker and deploy

on:
  push:
    branches:
      - gh-pages
  pull_request:
    branches:
      - gh-pages

jobs:
  test:
    runs-on: node:24.11.1-alpine3.22
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v4

      - name: Build and run Docker container
        run: |
          docker build -t my-vite-app .
          docker run my-vite-app

  deploy:
    runs-on: node:24.11.1-alpine3.22
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build static site
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
